.contact {
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
  overflow: hidden;
  background-color: var(--lightClr);
}

.contact .top {
  width: 100%;
  height: auto;
}

.contact .top .element-1 {
  width: 60%;
  margin: auto;
}

.contact form {
  width: 60%;
  height: auto;
  margin: 5rem auto;
}

.contact form nav {
  width: 100%;
  height: auto;
  margin: .75rem 0;
}

.contact form nav label {
  display: block;
  font-size: .8rem;
  color: var(--darkClr);
  margin: .2rem 0;
}

.contact form nav input[type=text],
.contact form nav input[type=email],
.contact form nav input[type=number],
.contact form nav textarea{
  display: block;
  width: 100%;
  height: auto;
  font-size: .8rem !important;
  color: var(--darkClr);
  margin: .2rem 0;
  border: none;
  outline: none;
  resize: none;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  border-radius: .2rem;
  font-size: 1rem;
}

.contact form nav input[type=text]:hover,
.contact form nav input[type=email]:hover,
.contact form nav input[type=number]:hover,
.contact form nav textarea:hover{
  border: 1px solid var(--primaryClr);
}

.contact form .half {
  display: flex;
  justify-content: space-between;
}

.contact form .half nav {
  width: 48%;
  display: inline-block;
}

.contact form nav textarea#message {
  height: 10rem;
}

.contact form nav input[type=submit]{
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  margin: 1.5rem 0;
}

.contact form nav input:focus,
.contact form nav textarea:focus{
  border-color: var(--primaryClr);
}
  